$body-color: black;

@font-face {
  font-family: Marvin;
  src: url("../MARVIN.otf");
}

body {
  color: $body-color;
  margin: 0;
  overflow: hidden;
}

#root {
  max-width: 414px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#wave {
  position: absolute;
  pointer-events: none;
  left: -5px;
  bottom: -20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
#pb-wrapper {
  width: 100vw;
  height: 100vh;
  background: url("../images/preload.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Marvin, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: white;
}

#pb-wrapper div {
  margin-top: 10em;
}
#three {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
